<html>
    <head>
        <style>
        .task {
          background-color: rgb(89, 71, 255);
          size: 30px;
          color: white;
          border: 5px solid black;
          margin: 5px;
          padding: 5px;
        }
        </style>
    </head>

    <div class="task"> 
        <h1>
            Tasks
        </h1>
    </div>

    <body>
        {% if task_per_person %}
        <ul>
        {% for q in task_per_person %}
            <div class="task">
                {{ q.description }}
                <form action = "/delete_task/{{q.id}}/" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete Task">
                </form>
                <form action = "/update_task/{{q.id}}/" method = "post">
                    {% csrf_token %}
                    <input type="submit" value="Update Task">
                </form>
            </div> 
        {% endfor %}
        </ul>
        {% else %}
        <p>Kindly Add Task.</p>
        {% endif %}
        <hr />
            <div class="task">
                <form action = "/display_task/" method = "POST">
                    {% csrf_token %}
                    {{ task_details_form.as_p }}
                    <input type="submit" value="Add Task">
                </form>
            </div>
    </body>
</html>

